<table class="array-data-table data-table striped">
    <tbody>
    <tr>
        <th ng-repeat="column in columns">{{column.label}}</th>
    </tr>
    <tr ng-repeat="row in tableData">
        <td ng-repeat="column in columns" ng-init="value = row[column.key]">
            <span ng-if="column.template" ng-include="column.template"></span>
            <span ng-if="!column.template && column.filter">{{value | filter:column.filter}}</span>
            <span ng-if="!column.template && !column.filter">{{value}}</span>
        </td>
    </tr>
    </tbody>
</table>