<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title><%=title%></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/libs/bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="/libs/bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="/libs/bower_components/c3/c3.css" />
    <link rel="stylesheet" href="/libs/bower_components/angular-chart/angular-chart.css">

    <link rel="stylesheet" href="/libs/pure-release-0.6.0/base-min.css">
    <link rel="stylesheet" href="/libs/pure-release-0.6.0/forms-min.css">
    <link rel="stylesheet" href="/libs/pure-release-0.6.0/buttons-min.css">
    <link rel="stylesheet" href="/libs/pure-release-0.6.0/menus-min.css">
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="/components/formatted-table/formatted-table.css" type="text/css" />
    <link rel="stylesheet" href="/components/notify/notify.css" type="text/css" />
    <link rel="stylesheet" href="/libs/fontello/css/fontello.css" type="text/css" />
</head>
<body style="display:none" ng-controller="AppCtrl" class="active-page-{{activePage}}" ng-class="{'show-sidebar': $rootScope.showSidebar}">
<notify></notify>
<div id="sidebar" class="pure-menu custom-restricted-width" ng-init="menu = [{heading:'Trading', items:['portfolio', 'trade']}, {heading:'Community', items:['ranking']}, {heading:'Account', items:['profile', 'logout']}]">
    <div ng-repeat="grouping in menu">
        <span class="pure-menu-heading">{{grouping.heading}}</span>
        <ul class="pure-menu-list">
            <li ng-repeat="item in grouping.items" class="pure-menu-item" ng-click="$rootScope.showSidebar=false"><a href="/{{item}}" class="pure-menu-link"><div style="float:right" class="icon-angle-right"></div>{{item | underscoreToSpace | capitalize}}</a></li>
        </ul>
    </div>
</div>
<div id="header">
    <div class="menu-button icon-menu" ng-click="$rootScope.showSidebar = !$rootScope.showSidebar"></div>
    <input type="text" ng-model="search" id="search-input" class="pure-input-1-2" placeholder="&#xE800 Quote Search"  style="font-family:fontello" />
</div>
<div id="content-frame">
    <div ng-view class="content-area"></div>
</div>

<% for(var i = 0; i < client_javascript_paths.length; i++) {%>
<script src="<%=client_javascript_paths[i] %>"></script>
<% } %>

</body>
</html>
