<div id="logout">
    <a href="/logout">Logout</a>
</div>

<table class="array-data-table data-table striped">
    <tr>
        <th>Cash</th>
        <th>Weekly</th>
        <th>Total income so far</th>
    </tr>
    <tr>
        <td>
            {{cash | currency}}
        </td>
        <td>
            {{weekly_income | currency}}
        </td>
        <td>
            {{total_income | currency}}
        </td>
    </tr>
</table>


<h4>Stock Positions</h4>
<formatted-table table-data="positions" skipped-fields="skippedFields" formatters="formatters"></formatted-table>

<h4>Transaction History</h4>
<formatted-table table-data="transactions" skipped-fields="skippedFields" formatters="formatters"></formatted-table>